.box1{
    width: 100%;
    background-color: black;
    color: rgb(4, 180, 33);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}
.button{
    width: 400px;
    height: 50px;
    background-color: black;
    color: rgb(4, 180, 33);
    border-radius: 15px;
    border: 2px solid rgb(4, 180, 33);
    font-size: 20px;
}
.button:hover{
    background-color: rgb(4, 180, 33); 
    color: black;

}
.text{
    margin-top: -5px;
}